.places {
    margin: 0 auto 92px;
    max-width: 984px;
    display: grid;
    row-gap: 80px;
}

@media screen and (max-width: 1024px) {
    .places {
        max-width: 928px;
    }
}

@media screen and (max-width: 768px) {
    .places {
        max-width: 720px;
        margin-bottom: 90px;
        row-gap: 73px;
    }
}

@media screen and (max-width: 320px) {
    .places {
        margin: 0 0 66px;
        row-gap: 50px;
    }
}