.footer__links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    column-gap: 18px;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
}

@media screen and (max-width: 767px) {
    .footer__links {
        font-size: 24px;
        line-height: 24px;
        flex-direction: column;
        align-content: flex-start;
        row-gap: 32px;
    }
}