.cover {
    margin: 0 auto 92px;
    max-width: 1184px;
}

@media screen and (max-width: 1024px) {
    .cover {
        width: 100%;
        margin: 0 0 92px;
    }
}

@media screen and (max-width: 768px) {
    .cover {
        margin-bottom: 88px;
    }
}

@media screen and (max-width: 767px) {
    .cover {
        margin-bottom: 64px;
    }
}