.footer {
    max-width: 1184px;
    margin: 0 auto 24px;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 1024px) {
    .footer {
        max-width: 928px;
    }
}

@media screen and (max-width: 1023px) {
    .footer {
        max-width: 720px;
    }
}

@media screen and (max-width: 767px) {
    .footer {
        flex-direction: column;
        row-gap: 48px;
        flex-wrap: wrap;
        max-width: 288px;
    }
}